version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: insider_app
    working_dir: /var/www
    volumes:
      - ./src:/var/www
    depends_on:
      - mysql
      - redis

  nginx:
    image: nginx:alpine
    container_name: insider_nginx
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: insider_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: insider
      MYSQL_USER: insider
      MYSQL_PASSWORD: insider
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: insider_redis
    ports:
      - "6379:6379"

volumes:
  mysql_data:
